@use "sass:math";

$border-color: silver;

$border: 1px solid $border-color;
$cell-padding-x: 10px;
$cell-padding-y: 5px;
$cell-padding: $cell-padding-x $cell-padding-x;
$row-height: 30px;
$row-line-height: $row-height - $cell-padding-y;

$grid-height: 450px;

$bg-color: white;
$bg-color-hover: wheat;
$fg-color: black;
$fg-color-hover: black;

div.tg-wrapper {
  max-height: $grid-height;
  overflow: auto;
  border: $border;

  > table {
    border-collapse: collapse;
    border: $border;
  }
}

table.tg-header {
  position: sticky;
  top: 0;
  box-shadow: $border-color 0px 3px 3px 0px;
}

tr.tg-header-row {
  background: white;

  > th {
    text-align: left;

    border: $border;
    padding: $cell-padding;
    height: $row-height;
    line-height: $row-line-height;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1px;

      > .tg-column-title {
        flex: 1 1 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > .tg-column-state {
        display: none;
        width: $row-line-height * 0.7;
        height: $row-line-height * 0.7;
        background: $bg-color;
        background-position: center;
        background-size: contain;
        border: $border;
        border-radius: 50%;
      }
    }

    &.tg-ordered-asc > div > .tg-column-state.tg-column-state-ordering {
      display: block;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTcgMTRsLTUtNS01IDUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    }

    &.tg-ordered-desc > div > .tg-column-state.tg-column-state-ordering {
      display: block;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNNyAxMGw1IDUgNS01IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    }

    &.tg-filtered > div > .tg-column-state.tg-column-state-filter {
    }
  }
}

tr.tg-content-row {
  &:hover > td.tg-cell {
    background-color: $bg-color-hover;
    color: $fg-color-hover;
  }

  > td.tg-cell {
    background-color: $bg-color;
    color: $fg-color;

    border: $border;
    padding: $cell-padding;
    height: $row-height;
    line-height: $row-line-height;
  }
}
